body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
}

.nav {
  position: absolute;
  float: left;
  margin: 0;
  height: 100%;
  width: 200px;
  border: 1px solid gray;
  background-color: #d9534f;
  color: cornflowerblue;
  border-bottom: cornsilk;
  box-shadow: 2px 2px 5px cornflowerblue;
  padding: 1px 1px;
  display: inline-block;
}

.nav ul {
  padding: 0;
}
.nav ul li {
  float: left;
  position: relative;
  text-decoration: none;
}
.nav ul li a {
  color: gray;
  background: white;
  text-decoration: none;
  margin: 0 1px;
  padding: 20px 80px;
  border-top: 1px solid gray;
  display: block;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 12px;
  transition: all 0.2s linear;
  border-bottom: 2px solid #d9534f;
}
.nav li ul {
  display: none;
}
.nav ul li a:hover {
  background: #d9534f;
  color: white;
}
.nav li:hover ul {
  display: block;
  position: relative;
}
.nav li:hover li {
  float: none;
  font-size: 12px;
}
.nav li:hover a {
  background: #d9534f;
  color: white;
  border-left: 1px solid white;
}
.nav ul li a ul {
  margin-left: 202px;
}
