body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
}

.nav {
  float: left;
  margin: 0;
  height: 100%;
  width: 250px;
  border: 1px solid gray;
  background-color: #d9534f;
  color: cornflowerblue;
  border-bottom: cornsilk;
  box-shadow: 2px 2px 5px cornflowerblue;
  padding: 1px 1px;
}

.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav ul li {
  float: left;
  position: relative;
}
.nav ul li a {
  color: gray;
  background: white;
  text-decoration: none;
  margin: 0 1px;
  padding: 15px 80px;
  border-top: 1px solid gray;
  display: block;
  border-radius: 20px;
}
.nav li ul {
  display: none;
}
.nav ul li a:hover {
  background: #d9534f;
  color: white;
}
.nav li:hover ul {
  display: block;
  position: relative;
}
.nav li:hover li {
  float: none;
  font-size: 12px;
}
.nav li:hover a {
  background: #d9534f;
  color: white;
  border-left: 4px solid white;
}
