body {
  margin: 0;
  padding: 0;
  background-color: #d9534f;
  font-family: sans-serif;
}

.nav {
  height: 80px;
  width: auto;
  text-align: center;
  line-height: 30px;
  border: 1px solid gray;
  background-color: white;
  border-bottom: cornsilk;
  box-shadow: 2px 2px 5px cornflowerblue;
  padding: 0;
  display: block;
}

.nav ul {
  padding: 0;
  display: block;
  margin: 15px 100px;
}
.nav ul li {
  float: left;
  position: relative;
  text-decoration: none;
  display: block;
}
.nav ul li a {
  display: block;
  color: white;
  background: #d9534f;
  text-decoration: none;
  margin: 0 1px;
  padding: 2px 40px;
  border-top: 1px solid gray;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 12px;
  transition: 0.2s linear;
  border-bottom: 2px solid #d9534f;
}
.nav li ul {
  display: none;
}
.nav ul li a:hover {
  background: #d9534f;
  color: white;
  display: block;
}
.nav li:hover ul {
  display: block;
  position: relative;
}
.nav li:hover li {
  display: block;
  float: left;
  font-size: 12px;
}
.nav li:hover a {
  display: block;
}
.sair {
  position: relative;
  float: left;
  margin: 0px 200px;
}
