body {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: black;
  font-family: sans-serif;
}

.form-biblio {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-biblio .form-biblio-heading,
.form-biblio .checkbox {
  margin-bottom: 10px;
  text-align: center;
}
.form-biblio .checkbox {
  font-weight: normal;
}
.form-biblio .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-biblio .form-control:focus {
  z-index: 2;
}
.form-biblio input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.form-biblio input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
